[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
[submodule "themes/themes/gallery"]
	path = themes/themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
